* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.bg-main {
 background-image: url(../images/bg-main.png);
 position: absolute;
 width: 790px;
 height: 697px;
 top: 0;
 left: 85px;
 z-index: -1;
}

.main-title {
  top: 220px;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  line-height: 78px;
  letter-spacing: 0;
  text-align: center;
  color: #515076;  
}

.product-card-wrapper {
  height: 1191px;
  width: 1110px;
  gap: 45px;
  flex-wrap: wrap;
  top: 408px;
  left: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.product-card {
  width: 340px;
  height: 573px;
  padding: 25px 25px 303px 25px;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
  background-color: #F7F7FA;
  border: 1px;
  position: relative;
  box-sizing: border-box;
}

.product-card__img {
  display: block;
  width: 290px;
  height: 245px;
  left: 880px;
  top: 433px;
  margin: 0 auto;
}

.product-card__for-skin {
  width: 171px;
  height: 20px;
  top: 708px;
  left: 880px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
}

.product-card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  margin: 0;
}

.product-card__descr {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #515076;
  margin-top: 5px;
}

.product-card__composition {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 0 0;
  margin-bottom: 25px;
}

.product-card__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  display: block;
}

.product-card__item {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 0 0;
  color: #515076;
  margin: 0 0 0 15px;
  font-style: normal;
}

.product-card__price-wrapper {
  width: 100%;
  min-height: 24px;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
}

.product-card__price-text {
  font-style: normal;
  color: #515076;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card__price {
  font-style: normal;
  color: #515076;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}